


  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
  }
  
  .login-box {
    width: 400px;
    padding: 40px;
    background: rgb(21, 20, 34);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin: auto; /* Centrar horizontalmente */
    margin-top: 15vh; /* Centrar verticalmente */
    
}
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input,
  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box textarea:focus ~ label,
  .login-box .user-box input:valid ~ label,
  .login-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  

  


  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(255, 255, 255));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
  }
  

.error{
color: red;
font-size: 14px;
margin-bottom: 30px;
}
/* Añadir un espacio entre el formulario y el footer */
.login-box{
margin-bottom: 15vh;
}
#noStyle {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color de fondo */
  }
  
  #noStyle:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Cambia el color de fondo al pasar el ratón por encima */
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  .esp{
    margin-bottom: 10px;
  }
        .fondo {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #f4f4f4;
    }
    .titulo {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        
    }
    .centrado {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

    }
    
    .containerr {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
max-width: 1200px;
margin-top: 0; /* Cambia el margin-top a 0 */
}
    .texto, .formulario {
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
    }
    .texto {
        background-color: #fff;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    @media(min-width: 900px) {
        .texto, .formulario {
            width: 48%;
        }
        .formulario {
            margin-bottom: 0;
        }
    }
    h3 {
        margin-bottom: 20px;
    }
    @media(max-width: 767px){
.footer {
margin-top: 100px; /* Ajusta el valor según sea necesario */
}

.centrado  {
margin-top: 200px; /* Ajusta el valor según sea necesario */
}
}

    .formulario {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}
    .formulario div {
        margin-bottom: 15px;
    }
    .formulario label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .formulario input,
    .formulario textarea {
        width: calc(100% - 20px); /* Adjust width to add padding */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
    }
    .formulario textarea {
        height: 150px; /* Increase the height of the textarea */
    }
    .formulario button {
        width: 100%;
        padding: 15px;
        background-color: #111;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .formulario button:hover {
        background-color: #444;
    }
    *{
margin:0;
padding:0;
box-sizing: border-box;
}
.container{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: #000000;
padding: 70px 0;

}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #0171e3;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
width: 50%;
margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
width: 100%;
}
}

