.scroll {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid white;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.content_scrolling {
  p {
    color: aliceblue;
    font-size: 25px;
    
  }

  img {
    width: 200px;
    height: 100px;
    padding: 4px;
    
  }

  .event_start {
    margin-left: 15px;
    margin-left: -4px;
   
  }

  .event_end {
    margin-right: 15px;
    margin-left: 4px;
  }

  .logo {
    margin-left: 55px;
    margin-right: 55px;
    height: 26;
    width: 150px;
  }
}
.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #40ff06;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  /* max-width: 100px; */
  scale: 0.8;
}
.contenedor {
    display: flex;
    justify-content: space-around;
   

    margin-left: 40px; /* Margen izquierdo */
    margin-right: 40px; /* Margen derecho */
}

.carta {
    width: calc(50% - 20px); /* Ancho del 50% con margen */
    height: 300px; /* Nuevo tamaño de altura */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
    margin: 10px; /* Espacio entre las cartas */
    position: relative;
    overflow: hidden; /* Para ocultar el desenfoque en hover */
    
}



.carta-grande {
    height: 400px; /* Mayor altura para las cartas más grandes */
}

.carta:hover h2 {
    opacity: 0; /* Ocultar el título en hover */
}

.carta:hover .ver-mas {
    opacity: 1; /* Mostrar el botón al hacer hover en la carta */
}

.carta h2 {
    margin: 0;
    color: #888; /* Color gris para el título */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; /* Mostrar el título por defecto */
    transition: opacity 0.3s ease; /* Transición para el hover */
}

.ver-mas {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Ocultar el botón por defecto */
    transition: opacity 0.3s ease;
}

/* Definición de las imágenes de fondo para cada carta */
.carta.carta1 {
  background-image: url('../img/cami.jpg');
}

.carta.carta2 {
  background-image: url('../img/pant.jpg');
}

.carta.carta3 {
  background-image: url('../img/sup.jpg');
}

.carta.carta4 {
  background-image: url('../img/diet.jpg');
}

.carta.carta5 {
  background-image: url('../img/ex.jpg');
}
/* Efecto de desenfoque solo para la imagen de fondo */
.carta::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Aplicar desenfoque a la imagen de fondo */
    z-index: -2; /* Colocar detrás del contenido de la carta */
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .contenedor {
        margin-left: 5px;
        margin-right: 5px;
    }

    .carta {
        width: calc(100% - 10px); /* Ancho del 100% con margen */
    }
}



.arrow {
  top: 37%; /* Alinea verticalmente con el centro del contenedor */
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
}

.arrow-left {
  left: 2%; /* Alinea a 2% desde la izquierda */
}

.arrow-right {
  right: 2%; /* Alinea a 2% desde la derecha */
}


.contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-producto {
    width: 300px; /* Ancho fijo */
    height: 400px; /* Altura fija */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.imagen-producto {
    width: 100%;
    height: 70%; /* Ajusta la altura de la imagen según sea necesario */
    object-fit: cover; /* Ajusta la imagen para llenar completamente su contenedor */
    display: block;
}

.contenido-producto {
    padding: 20px;
    height: 30%; /* Altura del contenido restante */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .titulo-producto {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .precio-producto {
        font-size: 16px;
        font-weight: bold;
        color: #f00;
        margin-top: 10px;
    }
    /* Estilos para el slider */
    .contenedor-slider {
        overflow: hidden;
        position: relative; /* Necesario para el posicionamiento de las flechas */
        width: calc(100% - 80px); /* Restar el ancho total de ambas flechas */
        margin: 0 auto; /* Centrar el contenedor */
    }
    .slider-productos {
        display: flex;
    }
    .contenedor-slides {
        display: flex;
        transition: transform 0.5s ease;
    }
    .slide-producto {
        margin-right: 10px;
    }


    /* Estilos para las flechas */
    .contenedor-flechas {
        position: relative;
        bottom: 20px; /* Ajustar posición abajo */
        width: 20%; 
        display: flex;
        justify-content: center; /* Centrar las flechas horizontalmente */
    }

    .flecha {
        width: 40px;
        height: 40px;
        color: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;  
        margin: 0 5px; /* Espacio entre las flechas */
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    .container{
      max-width: 1170px;
      margin:auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
    }
    ul{
      list-style: none;
    }
    .footer{
      background-color: #000000;
        padding: 70px 0;
        
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
    .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #0171e3;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
    }
    .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
    }
    .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
    }

  .popup-regis.active2,
.popup.activa {
  top: 15%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }

 
