/* RUNNING */
.clothes-shoes-accessories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.clothes {
  width: 33%;
  height: auto;
  margin-right: 10px;
}
.shoes {
  width: 33%;
  height: auto;
  margin-right: 10px;
}
.accessories {
  width: 33%;
  height: auto;
}
.clothes-shoes-accessories img {
  width: 100%;
}

.clothes-shoes-accessories a {
  text-decoration: none;
  color: #333;
}

.clothes-shoes-accessories a:hover {
  color: #0171e3;
}

.sub-contenedor {
  width: 90%;
  padding: 16px 0 0;
}
.sub-titulo {
  margin-bottom: 8px;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.road-trail-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.road {
  width: 33%;
  height: auto;
  margin-right: 10px;
}
.trail {
  width: 33%;
  height: auto;
  margin-right: 10px;
}
.track {
  width: 33%;
  height: auto;
}
.road-trail-track img {
  width: 100%;
}
.h2 {
  height: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.tutulo-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 60px;
  padding-bottom: 80px;
}
/* CARRUSEL */
a {
  text-decoration: none;
}
.box {
  width: 450px;
  height: auto;
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); */
  /* border-radius: 5px; */
  overflow: hidden;
  margin: 10px;
}
.slider {
  margin-bottom: 40px;
}
.slide-img {
  height: 550px;
  position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.type span {
  color: rgba(26, 26, 26, 0.5);
}
.price {
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  /* font-family: poppins; */
  letter-spacing: 0.5px;
}
.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  /* font-family: calibri; */
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover {
  color: #ffffff;
  background-color: #0171e3;
  transition: all ease 0.3s;
}
.overlay {
  visibility: hidden;
}
.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* LOGOS MARCAS */

.scroll {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid white;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content_scrolling {
  p {
    color: aliceblue;
    font-size: 25px;
  }

  img {
    width: 200px;
    height: 100px;
    padding: 4px;
  }

  .event_start {
    margin-left: 15px;
    margin-left: -4px;
  }

  .event_end {
    margin-right: 15px;
    margin-left: 4px;
  }

  .logo {
    margin-left: 55px;
    margin-right: 55px;
    height: 26;
    width: 150px;
  }
}
.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #40ff06;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  /* max-width: 100px; */
  scale: 0.8;
}

/* FOOTER */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #000000;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0171e3;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media screen and (max-width: 480px) {
  .content_scrolling img {
    width: 100px;
    height: 50px;
  }

  .scroll {
    height: 5vh;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .clothes-shoes-accessories {
    flex-direction: column;
    margin-top: -30px;
  }

  .tutulo-centrado {
    font-size: 20px;
    padding: 30px 0 50px;
  }

  .clothes,
  .shoes,
  .accessories {
    width: 100%;
    margin-right: 0;
  }
}
