:root {
  --main-color: #fd4646;
  --text-color: #000;
  --bg-color: #fff;
  --ppal: #f5f5f5;
  --black: #000000;
  --contraste: #0171e3;
  --texto: "Lexend", sans-serif;
}

#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 100000;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-content {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 1rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  /* height: 100px; */
  object-fit: contain;
  /* padding: 10px; */
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
  width: 100%;
  padding: 10px;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}
.cart-data {
  display: flex;
}

.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--contraste);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}

.cart-remove {
  font-size: 24px;
  color: var(--contraste);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--black);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
}

.btn-buy:hover {
  background: var(--contraste);
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-right: 150px;
}

.shop {
  margin-top: 2rem;
}

/* Shop Content */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  padding: 0 96px 96px 96px;
}

.product-box {
  position: relative;
  max-width: 592px;
}
.product-box:hover .product-description {
  display: none;
}

.product-box:hover .tallas {
  display: block;
  display: flex;
}

.tallas {
  display: none;
  position: relative;
  width: 55px;
  background: var(--bg-color);
  padding-bottom: 10px;
  gap: 6px;
  text-align: center;
}

.tallas span {
  display: block;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid var(--text-color);
  cursor: pointer;
}

.tallas span:hover {
  background: var(--ppal);
}

.tallas span.selected {
  background: var(--contraste);
  color: var(--bg-color);
}
.product-img {
  width: 100%;
  height: 75%;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #707072;
}

.price {
  font-weight: 500;
}

.add-cart {
  position: absolute;
  right: 0;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
}

.add-cart:hover {
  background: var(--contraste);
}
/* #address-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  visibility: visible;
  opacity: 1;

  /* .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    } */

#address-popup {
  display: none;
  visibility: visible;
  position: fixed;
  opacity: 1;
  width: auto;
  height: 200px;
  padding: 25px 16px 0 16px;
  margin: 20px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: all 0.5s ease;
  z-index: 9999;
}

#address-popup .popup-content .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

#address-popup p {
  margin: 0 0 30px;
  padding: 0;
  color: var(--black);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#address-popup button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--ppal);
  border-radius: 2px;
  background-color: var(--contraste);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 3px;
  border: 1px solid transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

#address-popup #popup-cancel {
  background-color: black; /* Red background */
}

#address-popup #popup-accept {
  background-color: black; /* Green background */
  margin-left: 20px;
}

#address-popup #popup-cancel:hover {
  background: #d32f2f; /* Darker red background */
}

#address-popup #popup-accept:hover {
  background: #0171e3; /* Darker green background */
}

/* Breakpoints */
@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }
  section {
    padding: 3rem 0 2rem;
  }
  .shop-content {
    padding: 0 54px;
  }
  .containerr {
    margin: 0 auto;
    width: 90%;
  }
  .shop {
    margin-top: 2rem !important;
  }
  .section-title {
    display: none;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 11px;
  }
  .logo {
    font-size: 1rem;
  }
  .cart {
    width: 320px;
  }
}

@media (max-width: 360px) {
  .shop {
    margin-top: 1rem !important;
  }
  .cart {
    width: 280px;
  }
}

@media (min-width: 1024px) {
  .shop-content {
    grid-template-columns: repeat(3, 1fr);
  }


}
@media screen and (max-width: 480px) {

  #cart-icon {
    font-size: initial;
  }
}
