@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --ppal: #f5f5f5;
  --black: #000000;
  --contraste: #0171e3;
  --texto: "Lexend", sans-serif;
}

/* Reset styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100%;
  grid-template-areas:
    "head"
    "nav"
    "banner";
  grid-template-rows: 1fr 1.5fr auto;
  font-family: var(--texto);
}

body > header {
  grid-area: head;
  background-color: var(--ppal);
  display: flex;
  justify-content: end;
  padding: 10px;
  gap: 10px;
}

header > button {
  font-family: var(--texto);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--ppal);
  padding: 2px 8px;
  cursor: pointer;
  border: none;
  border-right: 1px solid black;
}

.bttn-regis {
  border-right: none;
  margin-right: 14px;
}

.bttn-flag {
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > nav {
  grid-area: nav;
  text-decoration: none;
  padding: 14px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  overflow: hidden;
}
.navbar a {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--black);
}
.drop-menu {
  float: left;
  overflow: hidden;
}
.drop-menu .drop-btn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 1px;
  color: var(--black);
}

.drop-content {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
}
.drop-menu:hover .drop-content {
  display: block;
}
.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 250px;
  background-color: #ffffff;
}
.column a {
  display: block;
  float: none;
  color: #000000;
  text-align: left;
}
.column h3 {
  color: #000000;
  padding: 10px;
}
.column a:hover {
  color: #fff;
  background: #373737;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo-nav {
  width: 15%;
}

.logo-nav img {
  max-width: 80px;
  max-height: 60px;
}

.search-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.search-nav input[type="search"] {
  width: 150px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 24px;
  background-color: var(--ppal);
  border: none;
  border-radius: 10px;
}

.search-nav .ri-search-line {
  position: absolute;
  left: 8px;
}

.ri-heart-line,
.ri-shopping-cart-line {
  font-size: 24px;
  margin-right: 10px;
}

section {
  grid-area: banner;
  height: auto;
  overflow: hidden;
}

section img {
  width: 100%;
  height: auto;
}

/* ---------- LOGIN Y REGISTER ---------- */
.popup,
.popup-regis {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup .close-btn i,
.popup-regis .close-btn i {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #FF0202;
  font-size: 19px;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .form h2,
.popup-regis .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .form-element,
.popup-regis .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element label,
.popup-regis .form .form-element label {
  font-size: 14px;
  color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup-regis .form .form-element input[type="text"],
.popup-regis .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"],
.popup-regis .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup .form .form-element button,
.popup-regis .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.popup .form .form-element a,
.popup-regis .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #0171e3;
  text-decoration: none;
  font-weight: 600;
}

.popup-regis,
.popup {
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup-regis.active2,
.popup.activa {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
