@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --ppal: #f5f5f5;
  --black: #000000;
  --contraste: #0171e3;
  --texto: "Lexend", sans-serif;
}

/* Cambiar el color del texto de autocompletado */
input:-webkit-autofill {
  -webkit-text-fill-color: #ffff !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(0,0,0,.9) inset !important;
}

/* Reset styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100%;
  grid-template-areas:
    "head"
    "nav"
    "banner";
  grid-template-rows: 1fr 1.5fr auto;
  font-family: var(--texto);
}

body > header {
  grid-area: head;
  background-color: var(--ppal);
  display: flex;
  justify-content: end;
  padding: 10px;
}

header > button {
  font-family: var(--texto);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--ppal);
  padding: 2px 16px;
  cursor: pointer;
  border: none;
  border-right: 1px solid black;
}

.bttn-regis {
  border-right: none;
  /* margin-right: 14px; */
}

.bttn-flag {
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-login:hover , #show-regis:hover, #show-help:hover {
  color: var(--contraste);
}

.disabled-button {
  color: #000000; 
}

body > nav {
  grid-area: nav;
  text-decoration: none;
  padding: 14px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.navbar {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.navbar a {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--black);
}

.drop-menu {
  float: right;
  overflow: hidden;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 1px;
  color: var(--black);
}

.drop-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 12%;
  left: 0;
  z-index: 10;
}
.drop-menu:hover .drop-content {
  display: block;
}

.menu-ppal {
  /* margin-left: 50px; */
  display: flex;
  gap: 45px;
}
.nav-button {
  font-weight: 500;
}

.nav-button:not(:first-child):hover {
  color: var(--contraste);
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 250px;
  background-color: #ffffff;
}
.column a {
  display: block;
  float: none;
  border-bottom: 2px solid transparent;
  color: #000000;
  text-align: left;
}
.column h3 {
  color: #000000;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav img {
  max-width: 180px;
}

.search-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.search-nav input[type="search"] {
  width: 150px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 24px;
  background-color: var(--ppal);
  border: none;
  border-radius: 10px;
}

.search-nav .ri-search-line {
  position: absolute;
  left: 8px;
}

.ri-heart-line,
.ri-shopping-cart-line {
  font-size: 24px;
  margin-right: 10px;
}

section {
  grid-area: banner;
  height: auto;
  overflow: hidden;
}

section img {
  width: 100%;
  height: auto;
}

/* ---------- LOGIN Y REGISTER ---------- */
.popup,
.popup-regis {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.popup .close-btn i,
.popup-regis .close-btn i {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #9e1919;
  font-size: 22px;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .close-btn i:hover,
.popup-regis .close-btn i:hover {
  color: #FF0202;
}

.popup-regis.active2,
.popup.activa {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup p,
.popup-regis p {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.popup .form-element,
.popup-regis .form-element {
  position: relative;
}

.popup .form-element input,
.popup-regis .form-element input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.popup .form-element label,
.popup-regis .form-element label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.popup .form-element input:focus ~ label,
.popup .form-element input:valid ~ label,
.popup-regis .form-element input:focus ~ label,
.popup-regis .form-element input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.popup form .btn-submit,
.popup-regis form .btn-submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 3px
}

.popup .btn-submit:hover,
.popup-regis .btn-submit:hover {
  background: #fff;
  color: #272727;
}

.popup p:last-child,
.popup-regis p:last-child {
  color: #aaa;
  font-size: 14px;
  margin-top: 20px;
}

.popup a.a2,
.popup-regis a.a2 {
  color: #fff;
  text-decoration: none;
  text-align: left;
}

.popup a.a2:hover,
.popup-regis a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

#error-password-signup{
  list-style-type: none;
  margin-top: -25px;
}
#error-password-signup #tituloError{
  font-size: 16px;
}
#error-password-signup li{
  color: red;
  font-size: 14px;
}

/* POP-UP MESSAGE */
.popup-message {
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d0ffd8;
  border: 1px solid #77ff87;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}


.popup-content {
  position: relative;
  margin: 8px;
}

.close-popup-message {
  position: absolute;
  top: -15px;
  right: -10px;
  cursor: pointer;
}

.close-popup-message:hover {
  color: red; 
}

.menu-toggle {
  display: none;
}

.btn-nav {
  background-color: unset;
  color: unset;
  border: unset;
  cursor: pointer;
}

.btn-nav:hover {
  color:  var(--contraste);
}


/* Media queries */
@media only screen and (max-width: 768px) {
  body > header {
    height: 5vh;
  }

  header > button {
    font-size: 12px;
  }

  body > nav {
    padding: 5px;
  }

  .logo-nav img {
    max-width: 100px;
  }

  .drop-menu {
    font-size: 12px;
  }

  .menu-ppal {
    gap: 20px;
  }

  .search-nav input[type="search"] {
    width: 120px;
    font-size: 12px;
}

.search-nav i {
  font-size: 18px;
}

.popup, .popup-regis {
  width: 300px;
}

.popup form .btn-submit, .popup-regis form .btn-submit {
  font-size: 12px;
}

.popup p, .popup-regis p {
  font-size: 18px;
}

.popup p:last-child, .popup-regis p:last-child {
  font-size: 12px;
}

.popup .form-element label, .popup-regis .form-element label {
  font-size: 14px;
}
}

@media screen and (max-width: 480px) {

  .search-nav input[type="search"] {
    height: 12px;
  }

  .search-nav > i:nth-child(-n+2) {
    font-size: 12px;
  }

  header > button {
    font-size: 10px;
  }

  .menu-ppal.active {
    display: block;
  }

  .drop-menu:hover .drop-content {
    display: none;
  }

  .search-nav {
    display: flex;
    width: 55%;
    margin-right: 50px;
  }

  .navbar {
    position: relative;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
  }

  .menu-toggle i {
    font-size: 1.5rem;
  }

  .menu-ppal {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 75%;
    z-index: 999;
  }

  .menu-ppal a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
  }

  .nav-button:hover {
    border-bottom-color: transparent;
  }

  .menu-ppal a:hover {
    text-decoration: underline;
  }

  .popup.activa {
    top: 40%;
  }
}